@model WebApi.DocumentationController.ViewModels.ApiExplorerViewModel

@{
    ViewBag.Title = "Start";
    ViewBag.Header = "Start";
    Layout = "~/Views/Help/_HelpLayout.cshtml";
}

<section class="content-wrapper main-content clear-fix">
    <h1>Start</h1>
    <p>This is the documentation for your API.</p>
    <p>The API is based on ASP.NET WebAPI RC, and uses HTTP methods to exchange data.</p>
    <p>&nbsp;</p>
    <h5>Changelog</h5>
    <ol class="versions">
        <li>
            <h6>1.0.0.0</h6>
            <p>
                Initial release.
            </p>
        </li>
    </ol>
</section>
