@using System.Web.Mvc.Html
@model WebApi.DocumentationController.ViewModels.ModelDiagramViewModel

@{
    ViewBag.Title = "Model Diagram";
    ViewBag.Header = "Model Diagram";
    Layout = "~/Views/Help/_HelpLayout.cshtml";
}

<section class="content-wrapper main-content clear-fix">
    <h1>Model Diagram</h1>
    <p>
        <a class="modeldiagram" href="@Model.ModelDiagramPath"><img src="@Model.ModelDiagramPath" alt="Model Diagram"/></a>
    </p>
</section>